/*
 *= encoding UTF-8
 * Also depends on autocomplete which is provided by the ala-bootstrap3 template
 *= require jqueryValidationEngine
 *= require webjars/chosen-bootstrap/1.1.0/chosen.bootstrap.css
 *= require_self
 */

/* patch for boostrap chosen for chosen 1.8.3 breaking change */
.chosen-container-single .chosen-single input[type="text"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

/* patch chosen-bootstrap for ALA styles, TODO move to ala-bootstrap3? */
.chosen-container-single .chosen-single {
    border-radius: 0;
    border-color: #999;
}

/* re-apply default highlight colour for chosen that is overridden by the above */
.chosen-container-active .chosen-single {
    border-color: rgba(82, 168, 236, 0.8);
}